<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
The Order History is as follows:-
<form id='form4' method="post" action="/ProceedToPayment">
			</br>
			</br>


			<table border="1" width="900px" align="center" id="movies">
			 <thead>
				<tr>
					<th>Order Id</th>
					<th>Movie Id</th>
					<th>Member Id</th>
					<th>Issue Date</th>
					<th>Quantity</th>
					<th>Price</th>
				</tr></thead>
				<tbody>
				{{#each orderHistory}}
				<tr id="{{orderId}}">
					<td>{{orderId}}</td>
					<td>{{movieId}}</td>
					<td>{{memberId}}</td>
					<td>{{issueDate}}</td>
					<td>{{quantity}}</td>
					<td>{{price}}</td>
				</tr>
				{{/each}}
				</tbody>
			</table>
			</br>
			</br>
		</form>
		
		
</body>
</html>